<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537894033049-v5cjkqpdbbf0tkj9pvimkukialmk6p5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537894033049-v5cjkqpdbbf0tkj9pvimkukialmk6p5e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>537894033049-bm5a77sqnec69kb9u0lhauqmo1qb6380.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk7aWQ__Vqx1tW2pnO9DsO6RQycdW4Na4</string>
	<key>GCM_SENDER_ID</key>
	<string>537894033049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullestop.BloomFlora</string>
	<key>PROJECT_ID</key>
	<string>bloomflora-ec6f5</string>
	<key>STORAGE_BUCKET</key>
	<string>bloomflora-ec6f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537894033049:ios:b6000c11bc7399f5e60a08</string>
</dict>
</plist>