<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>BloomFlora</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb700473401541904</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.537894033049-v5cjkqpdbbf0tkj9pvimkukialmk6p5e</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>700473401541904</string>
	<key>FacebookClientToken</key>
	<string>5bab8f696c487bcf6abebf6a71793379</string>
	<key>FacebookDisplayName</key>
	<string>BloomsFlora</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>paytm</string>
		<string>tez</string>
		<string>phonepe</string>
		<string>about</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App waint to access your camera to upload profile picture.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app rquired your microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App waint to access your camera to upload profile picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App waint to access your camera to upload profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/Lato-Bold.ttf</string>
		<string>fonts/Lato-Heavy.ttf</string>
		<string>fonts/Lato-Medium.ttf</string>
		<string>fonts/Lato-Regular.ttf</string>
		<string>fonts/Nunito-Bold.ttf</string>
		<string>fonts/OpenSans-Regular.ttf</string>
		<string>fonts/OpenSans-Bold.ttf</string>
		<string>fonts/OpenSans-SemiBold.ttf</string>
		<string>fonts/OpenSans-Medium.ttf</string>
		<string>fonts/Poppins-Bold.ttf</string>
		<string>fonts/Poppins-Light.ttf</string>
		<string>fonts/Poppins-Medium.ttf</string>
		<string>fonts/Poppins-Regular.ttf</string>
		<string>fonts/Poppins-SemiBold.ttf</string>
		<string>fonts/Roboto-Bold.ttf</string>
		<string>fonts/Roboto-Light.ttf</string>
		<string>fonts/Roboto-Medium.ttf</string>
		<string>fonts/Roboto-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
