<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BloomFlora.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
				<key>dateExpires</key>
				<string>14/03/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>16.1.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF9FDDDA1E04C7F7248FEAC63D77A5DDDCC2CC87</string>
						<key>dateExpires</key>
						<string>14/03/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SFA9GUN7NY</string>
						<key>name</key>
						<string>Gempulse Infotech Pvt. Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SFA9GUN7NY.com.fullestop.BloomFlora</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SFA9GUN7NY</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>SFA9GUN7NY.com.fullestop.BloomFlora</string>
				</array>
			</dict>
			<key>name</key>
			<string>BloomFlora.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bb3dfa84-7186-45e3-aa7b-bdc42bd7fecd</string>
				<key>dateExpires</key>
				<string>23/11/24</string>
				<key>name</key>
				<string>bloomFloraDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SFA9GUN7NY</string>
				<key>name</key>
				<string>Gempulse Infotech Pvt. Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
